MONGODB_URI=
# set above to mongodb://localhost:27017/database-name for dev
#                                           ^^^^
#                                        task-focused

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash